{% extends 'base.html' %}


{% block 'title' %}
<h1>hello</h1>
<script>
    function confirmDeletion(event) {
     
        event.preventDefault();

        const confirmed = confirm("Are you sure you want to delete this Project?");
        if (confirmed) {
            document.getElementById('delete-form').submit();
        }
    }
</script>
{% endblock 'title' %}

{% block 'content' %}
<h1>Are you sure you want to delete "{{ project.title }}"?</h1>
<form method="post" id="delete-form" onsubmit="confirmDeletion(event)">
    {% csrf_token %}
    <button type="submit">Delete</button>
    <a href="{% url 'home' %}">Cancel</a>
</form>

{% endblock 'content' %}
